<div class="container-fluid h-75">
  <div class="row d-flex h-100 justify-content-center align-items-center mt-5">
    <div class="col-lg-4 col-md-5">
      <div class="card">
        <h5 class="card-header text-center">Modifiez votre mot de passe</h5>
        <div class="card-body">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onFormSubmit()">
            <!-- Password -->
            <label class="required" for="newPassword">Nouveau mot de passe</label>
            <div class="input-group mb-3">
              <input [type]="showNewPassword ? 'text' : 'password'"
              [ngClass]="{
                'form-control': true,
                'is-invalid': forgotPasswordForm.get('new_password').invalid && forgotPasswordForm.get('new_password').touched
                }"
                formControlName="new_password" id="newPassword" aria-label="Password" aria-describedby="eye"
                required
                (blur)="checkIfSamePasswords()">
              <div class="input-group-append" (click)="showNewPassword = !showNewPassword">
                <!-- Eye icon -->
                <span *ngIf="showNewPassword" class="input-group-text" id="eye">
                  <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                </span>
                <!-- Eye-slash icon -->
                <span *ngIf="!showNewPassword" class="input-group-text" id="eye">
                  <svg class="bi bi-eye-slash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                    <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </span>
              </div>
              <div *ngIf="!forgotPasswordForm.errors?.password && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback">
                Votre mot de passe doit contenir au moins 8 caractères, une lettre majuscule, un chiffre et un caractère spécial (@$!%*#?&)
              </div>
              <div *ngIf="!forgotPasswordForm.errors?.notSamePassword && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback">
                Les deux mots de passe doivent être identiques
              </div>
            </div>
            <!-- Confirm password -->
            <label class="required" for="confirmNewPassword">Confirmez votre nouveau mot de passe</label>
            <div class="input-group mb-3">
              <input [type]="showConfirmNewPassword ? 'text' : 'password'"
              [ngClass]="{
                'form-control': true,
                'is-invalid': forgotPasswordForm.get('confirm_new_password').invalid && forgotPasswordForm.get('confirm_new_password').touched
                }"
                formControlName="confirm_new_password" id="confirmNewPassword" aria-label="Password" aria-describedby="eye"
                required
                (blur)="checkIfSamePasswords()">
              <div class="input-group-append" (click)="showConfirmNewPassword = !showConfirmNewPassword">
                <!-- Eye icon -->
                <span *ngIf="showConfirmNewPassword" class="input-group-text" id="eye">
                  <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                </span>
                <!-- Eye-slash icon -->
                <span *ngIf="!showConfirmNewPassword" class="input-group-text" id="eye">
                  <svg class="bi bi-eye-slash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                    <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                </span>
              </div>
              <div *ngIf="!forgotPasswordForm.errors?.password && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback">
                Votre mot de passe doit contenir au moins 8 caractères, une lettre majuscule, un chiffre et un caractère spécial (@$!%*#?&)
              </div>
              <div *ngIf="!forgotPasswordForm.errors?.notSamePassword && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback">
                Les deux mots de passe doivent être identiques
              </div>
            </div>
            <p>
              <app-compulsory></app-compulsory>
            </p>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">
              Changer de mot de passe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
