<div class="container-fluid h-75">
  <div class="row d-flex h-100 justify-content-center align-items-center mt-5">
    <div class="col-lg-4 col-md-5">
      <div class="card">
        <h5 class="card-header text-center">Modifiez votre mot de passe</h5>
        <div class="card-body">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <label class="required" for="newPassword">Nouveau mot de passe</label>
              <input type="password" formControlName="new_password" class="form-control" id="newPassword" required>
            </div>
            <div class="form-group">
              <label class="required" for="confirmNewPassword">Confirmation du nouveau mot de passe</label>
              <input type="password" formControlName="confirm_new_password" class="form-control" id="confirmNewPassword" required>
            </div>
            <p>
              <app-compulsory></app-compulsory>
            </p>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">
              Changer de mot de passe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
