  <!-- Modal -->
  <div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="articleModalLabel"> {{ modalTitle }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #close></button>
        </div>
            <div class="modal-body">
                <form [formGroup]="articleForm">
                    <div class="text-center">
                        <img src="https://res.cloudinary.com/hraxyhwzc/image/upload/v1631983255/articles/image_placeholder.png" class="img-thumbnail pointer" alt="..." (click)="inputFile.click()">
                    </div>
                    <input #inputFile class="form-control" type="file" id="formFile" formControlName="image" [value]="">
                    <label for="formFile" class="form-label" required>Catégorie :</label>
                    <div class="d-flex mb-3">
                        <div *ngFor="let category of categoriesList" class="mr-2" role="group" aria-label="Boutons pour sélectionner les catégories d'articles">
                            <input type="radio" class="btn-check" formControlName="articles_categories_id" autocomplete="off" checked="" [id]="category.id" 
                            [value]="category.id" required>
                            <label class="btn btn-outline-secondary" [for]="category.id"> {{ category.label }} </label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="title" [value]="title.value" id="title" placeholder="Titre" required>
                        <label for="title" required>Titre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" formControlName="content" id="article" placeholder="Ecrivez votre article ici ..." required></textarea>
                        <label for="article" class="col-form-label" required>Article</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <app-compulsory></app-compulsory>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success" [disabled]="!articleForm.valid" (click)="onSubmit()">
                    {{ modalAction }}
                </button>
            </div>
      </div>
    </div>
  </div>