<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#" routerLink="/home">
            <img src="/assets/logos/tcsellesIconeWhite.svg" class="d-inline-block align-top"
                alt="logo tennis club selles sur cher">
            &nbsp; TC Selles
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTCSelles"
            aria-controls="navbarTCSelles" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTCSelles">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a *ngIf="sessionUser" class="nav-link" routerLink="/profile">
                        <cl-image [public-id]="sessionUser.avatar" class="img-fluid rounded d-inline-block align-top" alt="avatar">
                            <cl-transformation width="20" crop="scale">
                            </cl-transformation>
                        </cl-image>
                        {{ sessionUser.firstname }}&nbsp;{{ sessionUser.lastname }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- Logged in -->
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link" (click)="logout()" href="#">Se déconnecter</a>
                </li>
                <!-- Logged out -->
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link" routerLink="/login">Se connecter</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="'active'">
                    <a class="nav-link" routerLink="/register">S'inscrire</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
