
div.card {
    position: relative;
  }
div.card::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 8px 8px 30px black;
    opacity: 0;
    transition: opacity 0.5s;
}
div.card:hover::before {
    cursor: pointer;
    opacity: 1;
}