<div class="container-fluid">
  <div class="jumbotron mt-5">
    <h1 class="display-4 d-flex align-items-center justify-content-center">
      <img class="img-fluid col-md-6" src="/assets/logos/tcsellesFullLogo.svg" alt="logo tennis club Selles-sur-Cher">
      <span class="col-md-6">
        Tennis Club Selles-sur-Cher
      </span>
    </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
