<div class="container-fluid h-75">
  <div class="row d-flex h-100 justify-content-center align-items-center mt-5">
    <div class="col-lg-4 col-md-6">
      <div class="card mb-3">
        <h5 *ngIf="!isForgotPassword" class="card-header text-center">Connexion</h5>
        <h5 *ngIf="isForgotPassword" class="card-header text-center">Mot de passe oublié</h5>
        <div class="card-body">
          <!-- Login Form -->
          <form *ngIf="!isForgotPassword" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="form-group">
              <label class="required" for="email">Email</label>
              <input type="email" formControlName="email" [ngClass]="{
                'form-control': true,
                'is-invalid': loginForm.get('email').invalid && loginForm.get('email').touched
                }" id="email" required>
              <div *ngIf="!loginForm.errors?.email && (loginForm.touched || loginForm.dirty)" class="invalid-feedback">
                Format de l'email invalide
              </div>
            </div>
            <label class="required" for="password">Mot de passe</label>
            <div class="input-group mb-3">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" id="password" aria-label="Password" aria-describedby="eye" required>
              <div class="input-group-append" (click)="showPassword = !showPassword">
                <span *ngIf="showPassword" class="input-group-text" id="eye">
                  <fa-icon icon="eye"></fa-icon>
                </span>
                <span *ngIf="!showPassword" class="input-group-text" id="eye">
                  <fa-icon icon="eye-slash"></fa-icon>
                </span>
              </div>
            </div>
            <p class="d-flex justify-content-between">
              <span class="forgotPassword" (click)="isForgotPassword = !isForgotPassword">Oups ! J'ai oublié mon mot de passe</span>
              <app-compulsory></app-compulsory>
            </p>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
              Me connecter
            </button>
          </form>
          <!-- Forgot Password Form -->
          <form *ngIf="isForgotPassword" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
            <div class="form-group">
              <label class="required" for="email">Email</label>
              <input type="email" formControlName="email" [ngClass]="{
                'form-control': true,
                'is-invalid': forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched
                }" id="email" required>
                <small class="form-text text-muted">Cet email doit correspondre à votre email de connexion.</small>
              <div *ngIf="!forgotPasswordForm.errors?.email && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback">
                Format de l'email invalide
              </div>
              <app-compulsory></app-compulsory>
            </div>
            <button *ngIf="!isRequesting" type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">
              Envoyer
            </button>
            <button *ngIf="isRequesting" type="button" class="btn btn-primary btn-block" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Envoi...
            </button>
          </form>
        </div>
      </div>
      <div *ngIf="!isForgotPassword" class="card">
        <div class="d-flex card-body">
            <span>Tu n'as pas encore de compte ?</span><a class="ml-1" routerLink="/register">Créez-en un</a>
        </div>
      </div>
    </div>
  </div>
</div>
